/* Variabel */
:root {
  --border-color: hsla(0, 0%, 100%, 0.1);
  --border-focus: hsla(0, 0%, 100%, 0.25);
  --text-color: hsla(0, 0%, 100%, 0.72);
  --text-color-subtle: hsla(0, 0%, 100%, 0.5);
  --text-color-hover: hsla(0, 0%, 100%, 0.85);
  --color-bg-input: hsla(0, 0%, 100%, 0.08);
  --color-bg-second: rgba(0, 0, 0, 0.2);
  --color-bg-neutral: rgba(0, 0, 0, 0.4);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

/* Latar ya ges */
/* body {
  background-image: url(images/bg.png);
  background-color: #322e2b;
  background-position-y: -85px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
} */

#fixedBg {
  background: #302e2b url(images/bg.png) center 100% / cover no-repeat;
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: -100;
}

/* Isi */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 217px;
}

/* Judul caturnya */
img {
  margin-bottom: 29px;
}

/* Input user */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 320px;
  width: 290;
}

#loginkan {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #262421;
  border-radius: 10px 10px 0 0;
  padding: 40px 40px 10px 40px;
  width: 400px;
  height: 628px;
}

#tlc,
#user {
  position: absolute;
  top: 27px;
  left: 10px;
}

#visible {
  background-color: transparent;
  border: none;
  position: absolute;
  margin-left: auto;
  padding-top: 5px;
  right: 2px;
  top: 16px;
  width: 35px;
  height: 40px;
}

#text,
#password {
  position: relative;
}

#auth > a {
  color: var(--text-color);
  font-size: 0.82rem;
  margin-top: 4px;
}

#auth {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  width: 100%;
}

/* Misahin yang garis tengah */
#separator {
  display: flex;
  align-items: center;
  justify-content: center;
}

#or {
  color: var(--text-color-subtle);
  font-size: 0.89rem;
  padding: 0 25px 0 25px;
}

.hr {
  width: 150px;
  height: 0.05rem;
  background-color: var(--border-color);
}

/* Apple, Goole, Facebook */
#loginWays > a {
  position: relative;
  text-align: center;
  text-decoration: none;
  color: var(--text-color-hover);
  background-color: var(--color-bg-second);
  box-shadow: 0 3px rgba(0, 0, 0, 0.5);
  font-size: 0.88rem;
  font-weight: 600;
  width: 100%;
  height: 56px;
  padding-top: 18px;
  border-radius: 6px;
}

#loginWays {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

#ipong,
#gugel,
#fesnuk {
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  top: 16px;
  left: 30px;
  position: absolute;
}

#ipong {
  background-image: url(https://www.chess.com/bundles/web/images/socials/apple.d77d954d.svg);
}

#gugel {
  background-image: url(https://www.chess.com/bundles/web/images/socials/google.9f87d284.svg);
}

#fesnuk {
  background-image: url(https://www.chess.com/bundles/web/images/socials/facebook.a8fa98c7.svg);
}

/* Yang paling bawah */
h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 60px;
  border-radius: 0 0 10px 10px;
  background-color: #201e1c;
}

h4 > a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 0.87rem;
  font-weight: 600;
}

#new {
  margin-right: 4px;
}
