* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Latar ya ges */
body {
  background-image: url(images/bg.png);
  background-color: #322e2b;
  background-size: cover;
  background-position-y: -85px;
  background-repeat: no-repeat;
}

input[type="text"],
input[type="password"] {
  width: 320px;
  height: 40px;
  background-color: #373532;
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  border-radius: 3px;
  color: hsla(0, 0%, 100%, 0.72);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 217px;
}

img {
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 58px;
  height: 320px;
  width: 290;
}

#loginkan {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #262421;
  border-radius: 12px 12px 0 0;
  width: 400px;
  height: 628px;
}
